export(
  ## utils
  openwd, collapse0, write_cb, read_cb, today, now,
  extract_pubmed, convert, multiplot, prop_table, dropbox,
  sanitize_specials,

  ## summary statistics
  summary_stats, mean_ci, hpd, sem, cv,

  ## statistical functions
  logit, expit)