import(readxl)

importFrom(foreign, read.dta)
importFrom(foreign, write.dta)
importFrom(grid, grid.newpage)
importFrom(grid, grid.layout)
importFrom(grid, pushViewport)
importFrom(grid, viewport)
importFrom(rmarkdown, html_document)

## utils
export(openwd)
export(collapse)
export(write_cb)
export(read_cb)
export(today)
export(now)
export(extract_pubmed)
export(convert)
export(multiplot)
export(prop_table)
export(dropbox)
export(github)
export(sanitize_specials)
export(html_body)
export(readxl)
export(quiet_source)

## summary statistics
export(summary_stats)
export(mean_ci)
export(hpd)
export(sem)
export(cv)

## statistical functions
export(logit)
export(expit)
export(rgamma2)
export(rlnorm2)
